.heading{
    color: red;
    text-align: center;
    text-decoration: underline;
}
/* #box{
    background-color: cadetblue;
    color: white;text-align: start;
}
button{
    color: green;
}
p{
background-color: aliceblue;
color: aqua;
text-align: end;

} */